  <nav class="bg-green-700 text-white w-64 min-h-screen p-6 fixed left-0 top-0 shadow-lg">
        <h1 class="text-2xl font-bold mb-6">GestãoAgro</h1>
        <ul class="space-y-4">
            <li><a href="/home" class="flex font-bold text-[16px] items-center gap-2 p-3 bg-green-800 rounded-lg hover:bg-green-900 transition">Home</a></li>
            <li><a href="/animal" class="flex items-center font-bold text-[16px]  p-3 rounded-lg hover:bg-green-800 transition">Animais</a></li>
            <li><a href="#" class="flex items-center font-bold text-[16px] p-3 rounded-lg hover:bg-green-800 transition">Pastagens</a></li>
            <li><a href="#" class="flex items-center font-bold text-[16px] p-3 rounded-lg hover:bg-green-800 transition"> Rebanhos</a></li>
             <li><a href="#" class="flex items-center font-bold text-[16px] p-3 rounded-lg hover:bg-green-800 transition">Alimentação</a></li>
             
        </ul>
    </nav>